body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:709px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:709px;
  display:flex;
}
#u477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:590px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:81px;
  width:525px;
  height:590px;
  display:flex;
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:105px;
  width:50px;
  height:20px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u479 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:1024px;
  top:109px;
  width:12px;
  height:12px;
  display:flex;
}
#u480 .text {
  position:absolute;
  align-self:center;
  padding:8px 12px 8px 12px;
  box-sizing:border-box;
  width:100%;
}
#u480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:137px;
  width:470px;
  height:452px;
}
#u481_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:452px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u481_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:624px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:624px;
  display:flex;
}
#u482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:702px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:944px;
  width:470px;
  height:702px;
  display:flex;
}
#u483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:641px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:895px;
  width:470px;
  height:641px;
  display:flex;
}
#u484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:641px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:864px;
  width:470px;
  height:641px;
  display:flex;
}
#u485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#919191;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:210px;
  width:51px;
  height:20px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#919191;
}
#u486 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u487_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  padding:0px 5px 0px 5px;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u487_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  padding:0px 5px 0px 5px;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#333333;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:185px;
  width:134px;
  height:22px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#333333;
}
#u487 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u487_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#333333;
}
#u487.disabled {
}
.u487_input_option {
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u488_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  padding:0px 5px 0px 5px;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u488_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  padding:0px 5px 0px 5px;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#333333;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:209px;
  width:97px;
  height:22px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#333333;
}
#u488 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u488_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#333333;
}
#u488.disabled {
}
.u488_input_option {
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(30, 93, 248, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:613px;
  width:70px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u489 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 1px 0px;
  box-sizing:border-box;
  width:100%;
}
#u489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(30, 93, 248, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#1E5DF8;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:613px;
  width:70px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#1E5DF8;
}
#u490 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 1px 0px;
  box-sizing:border-box;
  width:100%;
}
#u490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(30, 93, 248, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#1E5DF8;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:613px;
  width:108px;
  height:30px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#1E5DF8;
}
#u491 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 1px 0px;
  box-sizing:border-box;
  width:100%;
}
#u491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:2px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:137px;
  width:470px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.000467485919164832deg);
  -moz-transform:rotate(-0.000467485919164832deg);
  -ms-transform:rotate(-0.000467485919164832deg);
  transform:rotate(-0.000467485919164832deg);
}
#u492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#8C8C8C;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:277px;
  width:86px;
  height:15px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#8C8C8C;
}
#u493 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u493_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:88px;
  width:120px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u495 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:193px;
  width:120px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u496 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:254px;
  width:120px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u497 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:613px;
  width:108px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u498 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:224px;
  width:120px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u499 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:613px;
  width:70px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u500 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:100px;
  width:30px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
