body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:709px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:709px;
  display:flex;
}
#u457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:122px;
  width:721px;
  height:541px;
}
#u458_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:541px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u458_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:541px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:541px;
  display:flex;
}
#u459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:13px;
  background:inherit;
  background-color:rgba(230, 240, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:center;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:509px;
  width:62px;
  height:13px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:center;
}
#u460 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:13px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  text-align:right;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:16px;
  width:42px;
  height:13px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  text-align:right;
}
#u461 .text {
  position:absolute;
  align-self:center;
  padding:0px 3px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:13px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  text-align:right;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:16px;
  width:42px;
  height:13px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  text-align:right;
}
#u462 .text {
  position:absolute;
  align-self:center;
  padding:0px 3px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:13px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  text-align:right;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:16px;
  width:42px;
  height:13px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:9px;
  text-align:right;
}
#u463 .text {
  position:absolute;
  align-self:center;
  padding:0px 3px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:91px;
  width:275px;
  height:30px;
  display:flex;
}
#u464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#1E5DF8;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:95px;
  width:22px;
  height:22px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#1E5DF8;
}
#u466 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 1px 0px;
  box-sizing:border-box;
  width:100%;
}
#u466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:99px;
  width:13px;
  height:13px;
  display:flex;
}
#u468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:102px;
  width:12px;
  height:12px;
  display:flex;
}
#u469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:96px;
  width:62px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u471 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:88px;
  width:120px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u472 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:118px;
  width:120px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:28px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:175px;
  width:153px;
  height:28px;
  display:flex;
  opacity:0.6;
}
#u473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#8C8C8C;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:200px;
  width:86px;
  height:15px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#8C8C8C;
}
#u474 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u474_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:175px;
  width:120px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u476 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:146px;
  width:120px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
