body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:309px;
  height:50px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u1850 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:70px;
  width:1385px;
  height:335px;
}
#u1852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:50px;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:50px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u1852 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:50px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:0px;
  width:180px;
  height:50px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u1853 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:50px;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:0px;
  width:810px;
  height:50px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u1854 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:50px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:0px;
  width:179px;
  height:50px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u1855 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:105px;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:216px;
  height:105px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1856 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:105px;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:50px;
  width:180px;
  height:105px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1857 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:105px;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:50px;
  width:810px;
  height:105px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u1858 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:105px;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:50px;
  width:179px;
  height:105px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1859 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:180px;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:216px;
  height:180px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1860 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:155px;
  width:180px;
  height:180px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1861 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:180px;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:155px;
  width:810px;
  height:180px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u1862 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:180px;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:155px;
  width:179px;
  height:180px;
  display:flex;
  font-family:'Noto Sans KR';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1863 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
